.uu a{
	text-decoration: none;
	float: left;
    margin: 0 10px;
}
.uu{
	list-style: none;
	overflow: hidden;
}
.li{
	color: red;
}
.uuu li{
	float: left;
	list-style: none;
	padding: 5px 8px;
	border: 1px solid #CCCCCC;
	margin: 0 5px;
}
.txtLi{
	background: #CCCCC6;
	color: #0099FF;
}

